# Dependencies
/node_modules

# Production
/dist
/build

# Database
prisma/dev.db
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Temp directories
/tmp
/temp

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
